.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.loader-container {
  width: 100%;
  height: 100vh;
  position: fixed;
  background: rgba(0, 0, 0, 0.834)
      url("https://media.giphy.com/media/8agqybiK5LW8qrG3vJ/giphy.gif") center
      no-repeat;
  z-index: 1;
}
.spinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #3d5af1 transparent #3d5af1 transparent;
  border-radius: 50%;
  animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

/* Point Loader */
.pointloader{
  width: 100%;
  height: 500vh;
  border:solid 2px #282c34;
}
.dot{
  border-radius: 50%;
  background-color: #3d5af1;
  width: 50px;
  height: 50px;
  border-color:ridge 1px aliceblue;
  animation: move 1.2s linear infinite;
}
@keyframes move {
    0% {
        transform: translateX(0) translateY(50%); /* Start at center vertically */
    }
    25%{
      transform: translateX(50vw) translateY(40vh); /* Move diagonally */
    }
    50%{
      transform: translateX(60vw) translateY(40vh); /* Move diagonally */
    }
    100% {
      transform: translateX(-50vw) translateY(40vh); /* Move back diagonally */  
    }
  
}